{{!< default}}
{{pagination.next}}
{{#post}}
	<div class="row">
		<div class="large-12 columns">
			<div class="panel clearfix">
				<h3>{{title}}</h3>
				{{#author}}
					<h6 class="subheader">
						<span data-tooltip aria-haspopup="true" class="has-tip radius" title="{{bio}}"><a href="{{url}}">{{name}}</a></span>
					</h6>
				{{/author}}
				{{#foreach tags}}
					<span class="label radius"><a href="{{url}}" style="color: #fff;">{{name}}</a></span>
				{{/foreach}}
				<p>
					{{content}}
				</p>
			</div>
		</div>
	</div>
{{/post}}